.startEdit {
    border: none;
    background: none;
    border-bottom: 1px dashed;
    padding: 0;
    margin: 0;
}

.isEditingWrapper button {
    margin-left: 10px;
}

.controlWrapper {
    display: inline-flex;
    flex-direction: column;
}

.controlWrapper :global(.form-control) {
    display: inline-block;
    width: auto;
}

.feedback {
    display: inline-block;
    width: auto;
}
