.questionType {
    float: right;
}

.checkboxLabel {
    margin-left: 1.25rem;
}

.choice {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.choiceValue {
    flex-grow: 1;
}

.choiceExplanation {
    flex-grow: 1;
}
