.questionType {
    float: right;
}

.checkboxLabel {
    margin-left: 1.25rem;
}

.questionLabel {
    margin-bottom: 0.5rem;
}

.editableFullwidth {
    margin-bottom: 0.5em;
}

.editableFullwidth > span {
    width: 100%
}

.editableFullwidth span {
    display: inline-flex;
    flex-grow: 1;
}

.editableFullwidth input {
    flex-grow: 1;
}

.editableFullwidth span span span {
    align-items: baseline;
}

.symbolicMetaButtons {
    margin-bottom: 0.5em;
}

.symbolicMetaButtons button {
    margin-left: 0.5em;
}
