.questionType {
    float: right;
}

.checkboxLabel {
    margin-left: 1.25rem;
}

.questionLabel {
    margin-bottom: 0.5rem;
}

.choice {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.choice > button {
    width: 38px;
}

.choiceValue {
    flex-grow: 1;
    flex-basis: 0;
}

.choiceExplanation {
    flex-grow: 1;
    flex-basis: 0;
}

.editableFullwidth > span {
    width: 100%
}

.editableFullwidth span {
    display: inline-flex;
    flex-grow: 1;
}

.editableFullwidth input {
    flex-grow: 1;
}

.editableFullwidth span span span {
    align-items: baseline;
}
