.outerWrapper {
    overflow: hidden;
}

.box {
    border: #eee 1px solid;
    padding: 0 1em;
    position: relative;
    width: 100%;
    min-height: 29px;
}
.box > .box {
    margin: 1em 0;
}
.boxHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -1em 1em;
}
.boxLabel {
    background: #ddd;
    padding: 0.5em;
    position: relative;
    color: #444;
}

.boxLabel:before {
    content: '';
    position: absolute;
    bottom: 0; right: 0;
    border-bottom: 0.5em solid white;
    border-left: 0.5em solid transparent;
    width: 0;
}

.boxSpacer {
    flex-grow: 1;
}

.box:hover > .boxHeader .boxDelete {
    display: block;
}

.boxDelete {
    position: absolute;
    top: -4px;
    right: 0;
    opacity: 0.5;
    display: none;
    height: 35px;
    border: none;
    background: none;
    z-index: 1000;
}

.boxDelete:hover {
    opacity: 1;
}

.boxDeleteHovered {
    border-color: #dc3545;
    background: #dc354507;
}

.boxDeleteHovered > .boxHeader .boxLabel {
    background: #dc3545;
    color: #fff;
}

.boxDeleteHovered > *:not(:first-child) {
    opacity: 0.4;
}

.box:hover > .inserter {
    display: block;
}

.inserter {
    display: none;
}

.inserter:last-child .inserterAdd button {
    margin-bottom: -16px;
}

.inserterAdd {
}

.inserterAdd button {
    opacity: 0.5;
    position: absolute;
    z-index: 2;
    margin: -32px 0;
    left: calc(50% - 27px);
}

.inserterAdd button:hover {
    opacity: 1;
    text-decoration: none;
}
