.box {
    border: #eee 1px solid;
    padding: 1em;
    position: relative;
    width: 100%;
    padding-top: 0;
}
.box > .box {
    margin: 1em 0;
}
.boxHeader {
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -1em;
}
.boxLabel {
    background: #ddd;
    padding: 0.5em;
    position: relative;
    color: #444;
}

.boxLabel:before {
    content: '';
    position: absolute;
    bottom: 0; right: 0;
    border-bottom: 0.5em solid white;
    border-left: 0.5em solid transparent;
    width: 0;
}

.boxSpacer {
    flex-grow: 1;
}

.boxDelete {
    float: right;
    opacity: 0.5;
    height: 35px;
    position: relative;
    border: none;
    background: none;
}

.boxDelete:hover {
    opacity: 1;
}

.boxDeleteHovered {
    border-color: #dc3545;
}

.boxDeleteHovered > .boxHeader .boxLabel {
    background: #dc3545;
    color: #fff;
}

.boxDeleteHovered > *:not(:first-child) {
    opacity: 0.4;
}

.box:hover > .inserter {
    display: block;
}

.inserter {
    margin: -32px 0;
    display: none;
}

.boxHeader + .inserter {
    margin-top: -16px;
}

.inserter:last-child {
    margin-bottom: -16px;
}

.inserterAdd {
    text-align: center;
}

.inserterAdd button {
    opacity: 0.5;
}

.inserterAdd button:hover {
    opacity: 1;
    text-decoration: none;
}
