.editButtons {
    text-align: right;
    margin: 0.5em 0;
}

.editButtons button {
    margin-left: 0.5em;
}

.editableValue {
    cursor: pointer;
}

.editableValue:hover {
    outline: 1px dashed #bbb;
}
