.figureWrapper {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin-bottom: 0.5em;
}

.figureImage {
    flex-basis: 0;
    flex-grow: 1;
}

.figureImage button {
    border: none;
}

.figureCaption {
    flex-basis: 0;
    flex-grow: 1;
}

.muted {
    color: #777;
}

.fileInput {
    position: absolute;
    left: -1000px;
    top: -1000px;
    visibility: hidden;
}

.clozeDropZoneModalBody {

    > :first-child img {
        max-width: 100%;
    }

    .dropZoneInputs {
        width: 100%;
        table-layout: fixed;
        margin: 1rem 0 2rem;

        thead {
            border-bottom: 1px solid #999;
        }

        th:first-child {
            width: 60px;
        }

        tbody > tr > td {
            padding-top: 0.5rem;
        }

        td:not(:first-child) > input {
            width: 70px;
            height: auto;
            margin: auto;
            border: none;
            border-bottom: 1px solid #ccc;
        }

        th:last-child, td:last-child {
            width: 15px;
            button {
                border: none;
                background: none;
                padding: 0;
                cursor: pointer;
                opacity: 0.5;
                scale: 0.8;
                transition: all 0.2s ease-in-out;

                &:hover {
                    opacity: 1;
                    scale: 1;
                }
            }
        }
    }
}
