.questionType {
    float: right;
    margin-left: 1em;
}

.checkboxLabel {
    margin-left: 1.25rem;
    margin-right: 0.5rem;
}

.questionLabel {
    margin-bottom: 0.5rem;
}

.editableFullwidth {
    margin-bottom: 0.5em;
}

.editableFullwidth > span {
    width: 100%
}

.editableFullwidth span {
    display: inline-flex;
    flex-grow: 1;
}

.editableFullwidth input {
    flex-grow: 1;
}

.editableFullwidth span span span {
    align-items: baseline;
}

.symbolicMetaButtons {
    margin-bottom: 0.5em;
}

.symbolicMetaButtons button {
    margin-left: 0.5em;
}

.striped tr:nth-child(2n) {
    background: #eee;
}

.striped th, .center {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.itemsHeaderRow {
    margin-bottom: 1em; /* Without this margin, the first InserterButton cannot reposition itself correctly */
}

.itemsChoiceRow {
    margin-top: -0.5em;
    margin-bottom: 0.5em;
}

.itemsChoiceRow button {
    width: 100%;
    border: none !important;
    background: none !important;
    color: #000 !important;
}

.itemsChoiceInserter {
    margin-top: 0.5em;
    width: 100%;
}
