.editorScreen {
    display: flex;
    justify-content: stretch;
    height: 100vh;
}

.leftMenuWrapper {
    display: flex;
    flex-direction: column;
    margin-right: 3px;
    border-right: 1px solid #eee;
    transition: width 0.3s;
    position: relative;
    overflow: clip;
}

.leftMenuOpen {
    width: 300px;
}

.leftMenuClosed {
    width: 0;
}

.leftMenuOpener {
    position: fixed;
    z-index: 10000;
    bottom: 0;
    left: 270px;
    width: 30px;
    height: 30px;
    font-size: 15px;
    border: none;
    background: #eee;
    transition: left 0.3s;
}

.leftMenuClosed .leftMenuOpener {
    left: 0;
}

.leftMenuHeader {
    text-align: right;
    min-height: 30px;
    background: #f5f5f5;
}

.leftMenuPopupMenu {
    background-color: #fff;
    border-radius: 2px;
    padding: 0;
    width: 150px;
    height: auto;
    margin: 0;
    /* use absolute positioning  */
    position: absolute;
    list-style: none;
    box-shadow: 0 0 20px 0 #ccc;
    opacity: 1;
    transition: opacity 0.5s linear;
    z-index: 20000;
}

.leftMenuPopupMenu li + li {
    border-top: 1px solid #ccc;
}

.leftMenuPopupMenu button {
    border: none;
    width: 100%;
}

.fileBrowser {
    flex: 1;
    overflow: auto auto;
    min-width: 300px;
    display: flex;
}

.fileBrowser > .fileBrowserList:after {
    content: " ";
    padding-bottom: 30px;
}

.fileBrowserList {
    flex: 1;
    padding: 0 0 0 16px;
}

.fileBrowserItem:hover {
    background: #fff;
}

.fileBrowserItem {
    padding: 0;
    border: none !important;
    white-space: nowrap;
}
.fileBrowserItemSelected, .fileBrowserItemSelected:focus {
    font-weight: bold;
}
.fileBrowserItemSelected:hover {
    background: #fff;
}

.fileBrowserItem:before {
    content: "🗎";
    position: relative;
    padding-left: 5px;
    padding-right: 3px;
    opacity: 0.5;
}

.fileBrowserClosedFolder, .fileBrowserOpenFolder {
    position: relative;
    padding: 0;
    border: none !important;
}

.fileBrowserClosedFolder:hover, .fileBrowserOpenFolder:hover {
    background: #fff;
}

.fileBrowserClosedFolder:before,  .fileBrowserOpenFolder:before {
    content: "⌄";
    position: relative;
    top: -3px;
    padding-left: 7px;
    padding-right: 5px;
    display: inline-block;
}

.fileBrowserClosedFolder:before {
    transform: rotate(-90deg);
    left: -5px;
    top: 1px;
}

.semanticEditor {
    overflow: auto;
    flex: 1;
    display: flex;
}

.centered {
    flex: 1;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-content: center;
}

.iconButton {
    float: right;
    border: 1px solid #6c757d;
    border-radius: 4px;
    background: #fff;
    margin: 0;
    padding: 0 3px;
    font-size: 14px;
}

.iconButton:hover {
    background: #6c757d;
}
